
header {
  background-color: DeepPink;
  font-size: 12;
  text-align: center;
}

ul {
    list-style: outside none none;
}

body {
  background-color: black;
  color: cyan;
  text-align: center;
}

marquee {
  color: DeepPink;
  font-size: 35px;
}

a:link {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: white;
  font-weight: bold;
  text-decoration: underline;
}

/* selected link */
a:active {
  color: grey;
  text-decoration: line-through;
}

#promo {
  color: DeepPink;
  font-size: 35px;
  text-decoration: underline overline;
}

#video {
  background-color: MidnightBlue;    
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
