<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href={% static 'css/nostalgia_home.css' %}>
    <title>Home | fciencias</title>
</head>

<header>
        <nav>
            <ul class="menu">
                {% if user.is_authenticated %}
                    <li><a id="logout" href="/out">Salir</a></li>
                    <li><a id="play" href="/g">Jugar</a></li>
                    <li><a id="score" href="/u/score/{{user.id}}">Puntuaciones</a></li>
                {% else %}
                    <li><a id="create" href="/u/sign-up">crear cuenta</a></li>
                    <li><a id="play" href="/g">Jugar</a></li>
                {% endif %}
            </ul>
        </nav>
</header>
    
<br>
    
<div class="row">
    <div class="column" id="video">
        <iframe width="420" height="315"
        src="https://www.youtube.com/embed/TKfS5zVfGBc?autoplay=1&loop=1&controls=0&mute=0">
        </iframe>
    </div>
    <div class="column" id="image">
        {% load static %}
        <img src="{% static 'images/skynet_countermeasure.jpeg' %}"
            alt="Err hi" width="480" height="421">
    </div>
</div>
    
<br>
    
<body>  
       
    {% if user.is_authenticated %}
        <div>
            <h1> Hola usuario {{ user.nickname }} </h1>
        </div>
    {% else %}
    
        <div text-align="center">
            <form action="home" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
                    <div class='fieldWrapper'>
                        {{ form.username.errors }}
                        {{ form.username.label_tag }}
                        {{ form.username }}
                    </div>
                    <div class='fieldWrapper'>
                        {{ form.username.errors }}
                        {{ form.password.label_tag }}
                        {{ form.password }}
                    </div>
                    
                <button type="submit">Login</button>
            </form>
        </div>
    {% endif %}
    
    {% if messages %}
    <div class="contrib_messages">
        {% for message in messages %}
            <h3 {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {{ message }}
            </h3>
        {% endfor %}
    </div>
    {% endif %}

</body>
    
<marquee behavior="scroll" direction="left" scrollamount="40">
    {% if user.is_authenticated %}
        Wooooooooooooo!
    {% else %}
        <a id="promo" href="/u/sign-up">Crear una cuenta</a>
    {% endif %}
</marquee>
    
</html>
