<!-- Base -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %} | fciencias</title>

    <link href="//fonts.googleapis.com/css?family=Calistoga&subset=latin,latin-ext" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Thambi+2&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap" rel="stylesheet">

    {% load static %}
    {% block head %}
    {% endblock head %}
    <link rel="stylesheet" type="text/css" href={% static 'users/css/base.css' %}>
    {% block css %}
    {% endblock css %}
</head>

<body>
    <header>
        <nav>
            <ul class="menu">
                {% if user.is_authenticated %}
                    <li><a id="Home" href="/home">Inicio</a></li>
                    <li><a id="logout" href="/out">Salir</a></li>
                    <li><a id="play" href="/g">Jugar</a></li>
                    <li><a id="score" href="/u/score/{{user.id}}">Puntuaciones</a></li>
                {% else %}
                    <li><a id="Home" href="/home">Inicio</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

{% block body_content %}
{% endblock body_content %}
    
{% block js %}
{% endblock js %}
    
<marquee behavior="scroll" direction="left" scrollamount="40">
    {% if user.is_authenticated %}
        Wooooooooooooo!
    {% else %}
        <a id="promo" href="/u/sign-up">Crear una cuenta</a>
    {% endif %}
</marquee>

</body>
</html>
