{% extends 'users/base.html' %}


{% block title %}Puntuaciones{% endblock title %}

{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href={% static 'users/css/score.css' %}>
{% endblock css %}

{% block body_content %}
    {% for score in puntajes %}
        <p>
        {{ score }}
        </p>
        </br>
    {% endfor %}
{% endblock body_content %}
