{% extends 'users/base.html' %}

{% block title %}Sign up{% endblock title %}

{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href={% static 'users/css/signUp.css' %}>
{% endblock css %}

{% block body_content %}
    <h1 id="createTit">Crear una cuenta</h1>
    
    {% if user.is_authenticated %}
    
        <div>
            <h3> Ya tienes una cuenta {{ user.nickname }} :p </h3>
        </div>
        
        {% if messages %}
        <div class="contrib_messages">
            {% for message in messages %}
            <h2 {% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {{ message }}</h2>
            {% endfor %}
        </div>
        {% endif %}        
    
    {% else %}
        <form action="sign-up" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                <div class="fieldWrapper">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                </div>
            {% endfor %}
            <p class="p1">
                <input id="save_button" value="Crear" type="submit">
            </p>
        </form>
            
        </br>  
        
        {% if messages %}
        <div class="contrib_messages">
            {% for message in messages %}
            <h2 {% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {{ message }}</h2>
            {% endfor %}
        </div>
        {% endif %}
        
    {% endif %}

{% endblock body_content %}
