{% extends 'game/base.html' %}


{% block title %}Salu2{% endblock title %}

{% block body_content %}
    <h1>Ummm algo salió mal :(</h1>
    <div>
        <form action="dino" method="post" enctype="multipart/form-data">
            {% csrf_token %}            
            <div class='fieldWrapper'>
                {{ form.owner.label }}
                {{ form.owner.errors }}
            </div>
            <div class='fieldWrapper'>
                {{ form.score.label }}
                {{ form.score.errors }}
            </div>
        </form>
    </div>
{% endblock body_content %}
