form  {
    margin-left: auto;
    margin-right: auto;
    display: table;      
}
p     {
    display: table-row;  
}
#p1    { 
    display: table-row;  
    margin:auto;
    display:block;
}
label {
    display: table-cell; 
}
input {
    display: table-cell; 
}
